:root {
  --header-color: #fcfefe;
  --header-font-family: "Great Vibes", cursive;
  --default-font-family: "Ancizar Serif", serif;
  --mobile-font-size: 13px;
  --paragraph-color: #f3993e;
  --font-family-third: "Poppins", sans-serif;
}

header {
  text-align: center;
  background-image: url("/images/Image_Credit_To_GettyImage_Credit_To_BuenaVistaImages.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 260px 0;
}
header h1 {
  color: var(--header-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: var(--font-family-third);
}
header h2 {
  color: var(--header-color);
  font-size: 96px;
  font-family: var(--header-font-family);
  font-weight: 700;
}
header h3 {
  color: var(--header-color);
  letter-spacing: 3px;
  font-size: 36px;
  font-family: var (--font-family-third);
}
p {
  font-size: 20px;
  color: var(--paragraph-color);
}
.carousel-caption {
  color: var(--paragraph-color);
  font-family: var(--default-font-family);
  font-size: 25px;
}
.box {
  max-width: 100%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
footer {
  color: var(--paragraph-color);
}
a {
  text-decoration: none;
  color: var(--paragraph-color);
}
.checkbox {
  opacity: 0;
  position: absolute;
  display: none !important;
}
.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-moon {
  color: var(--paragraph-color);
}
.fa-sun {
  color: var(--paragraph-color);
}
.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
#checkbox {
  display: none;
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 25px;
  }
  header h2 {
    font-size: 40px;
  }
  header h3 {
    font-size: 15px;
  }
  .btn-theme {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 15px;
  }
  p {
    font-size: var(--mobile-font-size);
  }
  .carousel-caption {
    font-size: var(--mobile-font-size);
  }
  h5 {
    font-size: var(--mobile-font-size);
  }
  footer {
    font-size: var(--mobile-font-size);
  }
}
