:root {
  --header-color: #fcfefe;
  --header-font-family: "Great Vibes", cursive;
  --default-font-family: "Ancizar Serif", serif;
  --mobile-font-size: 13px;
  --paragraph-color: #ec447c;
}
body {
  font-family: var(--default-font-family);
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
}
header {
  text-align: center;
  background-image: url("../images/TAL-dubai-DUBAITG1123-17390625954c4be3902a440d8fffde67.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 260px 0;
}
header h1 {
  color: var(--header-color);
  text-transform: uppercase;
  letter-spacing: 3px;
}
header h2 {
  color: var(--header-color);
  font-size: 96px;
  font-family: var(--header-font-family);
  font-weight: 700;
}
header h3 {
  color: var(--header-color);
  letter-spacing: 3px;
  font-size: 36px;
}
.btn-theme {
  background: #bd7546;
  border-radius: 4px;
  color: #fcfefe;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
p {
  font-size: 20px;
  color: var(--paragraph-color);
}
.carousel-caption {
  color: var(--paragraph-color);
  font-family: var(--default-font-family);
  font-size: 20px;
}
.box {
  max-width: 100%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 25px;
  }
  header h2 {
    font-size: 40px;
  }
  header h3 {
    font-size: 15px;
  }
  .btn-theme {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 15px;
  }
  p {
    font-size: var(--mobile-font-size);
  }
  .carousel-caption {
    font-size: var(--mobile-font-size);
  }
  h5 {
    font-size: var(--mobile-font-size);
  }
}
