:root {
  --header-color: #fcfefe;
  --header-font-family: "Great Vibes", cursive;
  --default-font-family: "Ancizar Serif", serif;
  --mobile-font-size: 13px;
  --paragraph-color: #fcfefe;
  --font-family-third: "Poppins", sans-serif;
}
body {
  background: linear-gradient(
    110.4deg,
    rgb(255, 196, 254) 9.6%,
    rgb(251, 229, 123) 91%
  );
}
header {
  text-align: center;
  background-image: url("/images/Image_Credit_To_GettyImage_Credit_To_BuenaVistaImages.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 260px 0;
}
header h1 {
  color: var(--header-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: var(--font-family-third);
}
header h2 {
  color: var(--header-color);
  font-size: 96px;
  font-family: var(--header-font-family);
  font-weight: 700;
}
header h3 {
  color: var(--header-color);
  letter-spacing: 3px;
  font-size: 36px;
  font-family: var (--font-family-third);
}
.btn-theme {
  background: #bd7546;
  border-radius: 4px;
  color: #fcfefe;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: var(--font-family-third);
}
p {
  font-size: 20px;
  color: var(--paragraph-color);
}
.carousel-caption {
  color: var(--paragraph-color);
  font-family: var(--default-font-family);
  font-size: 25px;
}

.box {
  max-width: 100%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
footer {
  color: var(--paragraph-color);
}
a {
  text-decoration: none;
  color: var(--paragraph-color);
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 25px;
  }
  header h2 {
    font-size: 40px;
  }
  header h3 {
    font-size: 15px;
  }
  .btn-theme {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 15px;
  }
  p {
    font-size: var(--mobile-font-size);
  }
  .carousel-caption {
    font-size: var(--mobile-font-size);
  }
  h5 {
    font-size: var(--mobile-font-size);
  }
  footer {
    font-size: var(--mobile-font-size);
  }
}
